# Item-Based Collaborative Filtering for Product Recommendations

This notebook implements an item-based collaborative filtering recommendation system using product category data from user interactions. We'll use the K-Nearest Neighbors algorithm to find similar users and recommend products.

## Import Required Libraries

In [25]:
# Data manipulation and analysis
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Machine learning
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

# Database and file operations
import duckdb
import os
from pathlib import Path
from typing import List
from pprint import pprint

## Data Loading and Connection Setup

Connect to the DuckDB database and load the event data.

In [26]:
# Define database path
DB_NAME = Path("/home/c-enjalbert/Documents/EPSI/MSPR/bloc_2/amazing/amazing.duckdb")

# Define data folder path
data_folder = Path("../..").resolve() / "data"

# Connect to the database
con = duckdb.connect(str(DB_NAME))

# Check if the connection was successful
print(f"Connected to database at: {DB_NAME}")

Connected to database at: /home/c-enjalbert/Documents/EPSI/MSPR/bloc_2/amazing/amazing.duckdb

In [27]:
# List all tables in the database
tables_info = con.sql("""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'main'
    ORDER BY table_name
""").df()

print(f"Found {len(tables_info)} tables in the database:\n")

if len(tables_info) > 0:
    for i, table_name in enumerate(tables_info['table_name']):
        print(f"{i+1}. {table_name}")
else:
    print("No tables found in the database.")

Found 2 tables in the database:

1. all_events
2. loaded_files

## Load User Events Data

We'll load the events data from the database into a DataFrame for analysis.

In [28]:
# Load events data (limit to 20,000 rows for better performance)
print("Loading event data...")
all_events = con.sql("""
    SELECT *
    FROM all_events
    LIMIT 20000
""")

# Display sample of the data
print(all_events.limit(10).df())

Loading event data...
           event_time event_type product_id          category_id  \
0 2019-10-01 00:00:00       view   44600062  2103807459595387724
1 2019-10-01 00:00:00       view    3900821  2053013552326770905
2 2019-10-01 00:00:01       view   17200506  2053013559792632471
3 2019-10-01 00:00:01       view    1307067  2053013558920217191
4 2019-10-01 00:00:04       view    1004237  2053013555631882655
5 2019-10-01 00:00:05       view    1480613  2053013561092866779
6 2019-10-01 00:00:08       view   17300353  2053013553853497655
7 2019-10-01 00:00:08       view   31500053  2053013558031024687
8 2019-10-01 00:00:10       view   28719074  2053013565480109009
9 2019-10-01 00:00:11       view    1004545  2053013555631882655

                         category_code     brand    price    user_id  \
0                                 None  shiseido    35.79  541312140
1  appliances.environment.water_heater      aqua    33.20  554748717
2           furniture.living_room.sofa      None   543.10  519107250
3                   computers.notebook    lenovo   251.74  550050854
4               electronics.smartphone     apple  1081.98  535871217
5                    computers.desktop    pulser   908.62  512742880
6                                 None     creed   380.96  555447699
7                                 None  luminarc    41.16  550978835
8                   apparel.shoes.keds     baden   102.71  520571932
9               electronics.smartphone    huawei   566.01  537918940

                           user_session
0  72d76fde-8bb3-4e00-8c23-a032dfed738c
1  9333dfbd-b87a-4708-9857-6336556b0fcc
2  566511c2-e2e3-422b-b695-cf8e6e792ca8
3  7c90fc70-0e80-4590-96f3-13c02c18c713
4  c6bd7419-2748-4c56-95b4-8cec9ff8b80d
5  0d0d91c2-c9c2-4e81-90a5-86594dec0db9
6  4fe811e9-91de-46da-90c3-bbd87ed3a65d
7  6280d577-25c8-4147-99a7-abc6048498d6
8  ac1cd4e5-a3ce-4224-a2d7-ff660a105880
9  406c46ed-90a4-4787-a43b-59a410c1a5fb

In [29]:
# Convert query result to DataFrame for easier manipulation
all_events_df = pd.DataFrame(all_events.df())

# Show summary statistics
all_events_df.describe(include="all").T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
event_time,20000,NaN,NaN,NaN,2019-10-01 02:29:27.043549,2019-10-01 00:00:00,2019-10-01 02:28:14.750000,2019-10-01 02:37:18,2019-10-01 02:46:00,2019-10-01 02:54:01,NaN
event_type,20000,3,view,19548,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id,20000,7178,1004856,234,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category_id,20000,443,2053013555631882655,5387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category_code,13412,115,electronics.smartphone,5387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
brand,17185,922,samsung,2330,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,20000.0,NaN,NaN,NaN,289.381401,0.0,60.23,154.42,359.08,2574.07,368.18694
user_id,20000,5012,531063605,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_session,20000,5669,f85114d0-6167-4c8b-88f8-0cd1cfc2c10c,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Preprocessing and Cleaning

We'll prepare the data for collaborative filtering by:
1. Selecting relevant columns
2. Cleaning missing values
3. Converting event types to binary values (purchase = 1, view/cart = 0)

In [30]:
# Select only the columns we need for collaborative filtering
allevents_df_CF = all_events_df[["user_id", "product_id", "category_code", "category_id", "event_type"]]

# Check shape of our filtered dataset
print(f"Shape of filtered dataset: {allevents_df_CF.shape}")

Shape of filtered dataset: (20000, 5)

In [31]:
# Check for missing values in important columns
print(f"Missing values in product_id: {allevents_df_CF['product_id'].isna().sum()}")
print(f"Missing values in category_id: {allevents_df_CF['category_id'].isna().sum()}")
print(f"Missing values in category_code: {allevents_df_CF['category_code'].isna().sum()}")
print(f"Missing values in user_id: {allevents_df_CF['user_id'].isna().sum()}")
print(f"Missing values in event_type: {allevents_df_CF['event_type'].isna().sum()}")

# Remove rows with missing category_code (since we'll use this for recommendations)
allevents_df_CF.dropna(subset=["category_code"], inplace=True)
print(f"\nAfter dropping rows with missing category_code: {allevents_df_CF.shape}")

Missing values in product_id: 0
Missing values in category_id: 0
Missing values in category_code: 6588
Missing values in user_id: 0
Missing values in event_type: 0

After dropping rows with missing category_code: (13412, 5)

/tmp/ipykernel_96826/2886208691.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [32]:
# Map event types to binary values (0 for view/cart, 1 for purchase)
# This helps us focus on items that users actually purchased
all_events_df["event_type"] = all_events_df["event_type"].map({"view": 0, "cart": 0, "purchase": 1})

# Check the distribution of event types after mapping
print("Distribution of event types after mapping:")
print(all_events_df["event_type"].value_counts())

Distribution of event types after mapping:
event_type
0    19742
1      258
Name: count, dtype: int64

## Category Analysis

Let's analyze which categories are most popular in terms of purchases.

In [33]:
# Calculate sum of event_type (purchases) per category_code
category_purchase_counts = all_events_df.groupby('category_code')['event_type'].sum().reset_index()
category_purchase_counts = category_purchase_counts.sort_values('event_type', ascending=False)

# Display the top categories by purchase count
print("Top categories by number of purchases:")
print(category_purchase_counts.head(10))

# Create an interactive bar chart with Plotly showing top 20 categories
fig = px.bar(
    category_purchase_counts.head(20), 
    x='event_type', 
    y='category_code',
    title='Number of Purchases by Category',
    labels={'event_type': 'Number of Purchases', 'category_code': 'Category'},
    width=1000,
    height=600
)
fig.update_layout(yaxis={'categoryorder': 'total ascending'})
fig.show()

Top categories by number of purchases:
                       category_code  event_type
86            electronics.smartphone         123
79       electronics.audio.headphone          12
85                electronics.clocks           7
41  appliances.kitchen.refrigerators           6
24     appliances.environment.vacuum           5
44         appliances.kitchen.washer           4
64                computers.notebook           4
90              electronics.video.tv           4
88             electronics.telephone           4
0                    accessories.bag           3

## Preparing User-Item Matrix for Collaborative Filtering

We'll create a user-item matrix where rows represent users and columns represent product categories. The values in the matrix represent the user's preference for that category (1 for purchased, 0 for not purchased).

In [34]:
# Create a dataframe with user-category interactions
# For each user-category combination, calculate the mean of event_type
# This gives us a value between 0 and 1 representing the user's preference for that category
cf_dataset = all_events_df.copy().groupby(by=['user_id','category_code'], as_index=False).agg({"event_type":"mean"})

# Display the first few rows of the dataset
cf_dataset.head()

     user_id                  category_code  event_type
0  306441847        appliances.kitchen.oven         0.0
1  434894256             computers.notebook         0.0
2  442188017  computers.peripherals.monitor         0.0
3  443779465             electronics.clocks         0.0
4  444990139         electronics.smartphone         0.0

In [35]:
# Get statistics about our dataset
num_users = len(cf_dataset['user_id'].unique())
num_items = len(cf_dataset['category_code'].unique())
print('Number of unique users in the dataset: {}'.format(num_users))
print('Number of unique categories in the dataset: {}'.format(num_items))
print('Total user-category interactions: {}'.format(len(cf_dataset)))

Number of unique users in the dataset: 3591
Number of unique categories in the dataset: 115
Total user-category interactions: 4150

In [36]:
# Create a pivot table: users as rows, categories as columns
# Values are the event_type (0 for view/cart, 1 for purchase)
user_to_product_df = cf_dataset.pivot(
    index='user_id',
    columns='category_code',
    values='event_type'
).fillna(0)  # Fill missing values with 0 (no interaction)

# Display the first few rows of the pivot table
print(f"Shape of user-item matrix: {user_to_product_df.shape}")
user_to_product_df.head()

Shape of user-item matrix: (3591, 115)

category_code,accessories.bag,accessories.umbrella,accessories.wallet,apparel.costume,apparel.dress,apparel.jacket,apparel.jeans,apparel.scarf,apparel.shirt,apparel.shoes,...,kids.skates,kids.swing,kids.toys,medicine.tools.tonometer,sport.bicycle,sport.ski,sport.snowboard,sport.tennis,sport.trainer,stationery.cartrige
user_id,,,,,,,,,,,,,,,,,,,,,
306441847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
434894256,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
442188017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
443779465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
444990139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Creating User ID Mappings

We'll create mappings between the original user IDs and their position in the matrix (index) to make lookup easier.

In [37]:
# Create mapping dictionaries between position index and original user_id
user_index_to_id_map = {}
user_id_to_index_map = {}

# Populate the mapping dictionaries
for i, user_id in enumerate(user_to_product_df.index):
    user_index_to_id_map[i] = user_id  # Maps position to actual user_id
    user_id_to_index_map[user_id] = i  # Maps user_id to position
    
# Create a DataFrame to store these mappings for easy reference
user_mapping_df = pd.DataFrame({
    'position_index': range(len(user_to_product_df)),
    'user_id': user_to_product_df.index
})

# Display the first few rows of the mapping DataFrame
user_mapping_df.head()

   position_index    user_id
0               0  306441847
1               1  434894256
2               2  442188017
3               3  443779465
4               4  444990139

In [38]:
user_mapping_df.values

array([[0, '306441847'],
       [1, '434894256'],
       [2, '442188017'],
       ...,
       [3588, '555467172'],
       [3589, '555467188'],
       [3590, '555467192']], dtype=object)

In [39]:
user_mapping_df.loc[user_mapping_df['user_id'] == '512384348']

    position_index    user_id
34              34  512384348

## Creating Sparse Matrix for KNN Model

We'll convert our user-item matrix to a sparse matrix for efficient processing by the KNN algorithm.

In [40]:
# Transform matrix to scipy sparse matrix for efficiency
user_to_product_sparse_df = csr_matrix(user_to_product_df.values)

# Get information about the sparse matrix
print(f"Shape of sparse matrix: {user_to_product_sparse_df.shape}")
print(f"Number of non-zero entries: {user_to_product_sparse_df.nnz}")
print(f"Sparsity: {user_to_product_sparse_df.nnz / (user_to_product_sparse_df.shape[0] * user_to_product_sparse_df.shape[1]):.4f}")

Shape of sparse matrix: (3591, 115)
Number of non-zero entries: 180
Sparsity: 0.0004

## Building the K-Nearest Neighbors Model

We'll use the KNN algorithm with cosine similarity to find users with similar preferences.

In [41]:
# Initialize KNN model with cosine similarity metric
knn_model = NearestNeighbors(metric='cosine', algorithm='brute')

# Fit the model to our sparse matrix
knn_model.fit(user_to_product_sparse_df)
print("KNN model successfully trained!")

KNN model successfully trained!

## Finding Similar Users

Now let's create a function to find users with similar preferences to a given user.

In [42]:
def get_similar_users(user_index,real_user_id, n=5):
    """
    Find the top n users similar to the given user.
    
    Parameters:
    user_index: Position index of the user in the user_to_product_df (not the actual user ID)
    n: Number of similar users to return
    
    Returns:
    indices: Indices of similar users
    distances: Cosine distances to the similar users
    """
    # Get the user's preferences as a vector
    knn_input = np.asarray([user_to_product_df.values[user_index]])
    
    # Find k nearest neighbors (add 1 because the user themselves will be included)
    distances, indices = knn_model.kneighbors(knn_input, n_neighbors=n+1)

    # Print results
    print(f"Top {n} users who are similar to User {user_index} (Real ID: {real_user_id}):")
    print("")
    for i in range(1, len(distances[0])):
        similar_user_index = indices[0][i]
        print("similar_user_index", similar_user_index)
        similar_user_id = user_mapping_df.iloc[similar_user_index]['user_id']
        print(f"{i}. User Index: {similar_user_index}, Real ID: {similar_user_id}, Distance: {distances[0][i]:.4f}")
    
    # Return indices and distances (excluding the user themselves)
    return indices.flatten()[1:], distances.flatten()[1:]

## Category Recommendation Function

Now let's create a function to recommend categories based on similar users' preferences.

In [43]:
def recommend_categories(user_index, n=10, only_new=True):
    """
    Recommend categories to a user based on similar users' preferences.
    
    Parameters:
    user_index: Position index of the user in the user_to_product_df (not the actual user ID)
    n: Maximum number of recommendations to return
    only_new: If True, only recommend categories the user hasn't interacted with
    
    Returns:
    recommended_categories: List of recommended category names
    """
    # Get the real user ID
    real_user_id = user_mapping_df.iloc[user_index]['user_id']
    
    # Get similar users
    similar_user_indices, distances = get_similar_users(user_index,real_user_id, 5)
    
    # Calculate weights for each similar user (inversely proportional to distance)
    weights = distances / np.sum(distances)
    
    # Get category preferences of similar users
    similar_users_prefs = user_to_product_df.iloc[similar_user_indices].values
    
    # Reshape weights for matrix multiplication
    weights = weights[:, np.newaxis]
    
    # Calculate weighted preferences
    weighted_prefs = weights * similar_users_prefs
    
    # Sum weighted preferences across all similar users
    category_scores = weighted_prefs.sum(axis=0)
    
    # Get list of all category names
    all_categories = user_to_product_df.columns

    # If only_new is True, exclude categories the user has already interacted with
    if only_new:
        # Get user's current preferences
        user_prefs = user_to_product_df.loc[int(real_user_id)]["user_id"]
        
        # Create a mask for categories the user hasn't interacted with
        new_category_mask = user_prefs == 0
        
        # Apply the mask to category scores
        category_scores = category_scores * new_category_mask
    
    # Sort categories by score in descending order
    top_indices = np.argsort(category_scores)[::-1][:n]
    
    # Get the names of the top categories
    recommended_categories = all_categories[top_indices]
    
    # Print recommendations
    print(f"\nTop {n} recommended categories for User {user_index} (Real ID: {real_user_id}):")
    for i, category in enumerate(recommended_categories):
        score = category_scores[top_indices[i]]
        if score > 0:  # Only show recommendations with positive scores
            print(f"{i+1}. {category} (Score: {score:.4f})")
    
    return recommended_categories

In [44]:
# After the validation cell, add a cell to analyze purchase behavior from the original DataFrame
def analyze_user_purchases(user_id, df=all_events_df):
    """
    Analyze a user's purchase behavior based on the original events dataframe
    
    Parameters:
    user_id: The real user ID to analyze
    df: DataFrame containing the events data
    
    Returns:
    purchased_categories: DataFrame containing the categories the user has purchased from
    """

    # Filter the original dataframe for this user
    user_data = df[df['user_id'] == user_id]
    
    # Get only purchase events
    user_purchases = user_data[user_data['event_type'] == 1]
    
    # Get unique categories purchased from
    purchased_categories = user_purchases['category_code'].unique()
    
    # Print summary
    print(f"Analysis for User ID: {user_id}")
    print(f"Total events: {len(user_data)}")
    print(f"Total purchases: {len(user_purchases)}")
    print(f"Number of unique categories purchased from: {len(purchased_categories)}")
    
    print("\nCategories purchased from:")
    for i, category in enumerate(purchased_categories):
        # Count purchases in this category
        category_purchase_count = user_purchases[user_purchases['category_code'] == category].shape[0]
        print(f"{i+1}. {category} ({category_purchase_count} purchases)")
    
    return purchased_categories

In [45]:
count = 0
for index, row in user_to_product_df.iterrows():
    for col in user_to_product_df.columns:

        if user_to_product_df.loc[index, col] != 0:
            print(count)
            print(index)
            print(f"Column: {col}, Value: {user_to_product_df.loc[index, col]}")
    count += 1

34
512384348
Column: electronics.smartphone, Value: 0.25
43
512416959
Column: appliances.kitchen.refrigerators, Value: 0.2
70
512478069
Column: accessories.bag, Value: 0.10526315789473684
109
512550575
Column: auto.accessories.videoregister, Value: 0.16666666666666666
112
512556357
Column: electronics.smartphone, Value: 0.3333333333333333
125
512584306
Column: appliances.environment.vacuum, Value: 0.2
130
512592316
Column: electronics.smartphone, Value: 0.2222222222222222
141
512607090
Column: electronics.smartphone, Value: 0.2
153
512682014
Column: electronics.smartphone, Value: 0.0625
175
512730342
Column: electronics.smartphone, Value: 0.2857142857142857
176
512736046
Column: electronics.clocks, Value: 0.1
189
512758113
Column: electronics.smartphone, Value: 0.2
201
512778902
Column: stationery.cartrige, Value: 0.125
216
512812487
Column: electronics.smartphone, Value: 0.25
255
512907792
Column: appliances.kitchen.blender, Value: 0.1111111111111111
273
512968794
Column: electronics.video.tv, Value: 0.25
275
512975726
Column: electronics.clocks, Value: 0.037037037037037035
311
513118339
Column: electronics.smartphone, Value: 0.2
313
513139436
Column: electronics.smartphone, Value: 0.3333333333333333
318
513172531
Column: appliances.environment.water_heater, Value: 0.5
335
513210754
Column: electronics.telephone, Value: 0.2
347
513254174
Column: electronics.smartphone, Value: 0.11764705882352941
350
513265392
Column: electronics.smartphone, Value: 0.5
391
513419646
Column: appliances.kitchen.washer, Value: 0.2
410
513484630
Column: construction.tools.saw, Value: 0.16666666666666666
412
513489079
Column: computers.peripherals.printer, Value: 0.14285714285714285
439
513632293
Column: electronics.smartphone, Value: 0.125
458
513684529
Column: electronics.audio.headphone, Value: 0.16666666666666666
470
513724405
Column: electronics.smartphone, Value: 0.16666666666666666
537
514018346
Column: appliances.personal.hair_cutter, Value: 0.25
557
514104941
Column: electronics.smartphone, Value: 0.0625
563
514127317
Column: electronics.audio.headphone, Value: 0.4
564
514129765
Column: electronics.smartphone, Value: 0.16666666666666666
604
514311861
Column: electronics.smartphone, Value: 0.25
652
514651026
Column: electronics.smartphone, Value: 0.25
683
514805015
Column: computers.notebook, Value: 0.07692307692307693
690
514892797
Column: electronics.smartphone, Value: 0.25
698
514904277
Column: electronics.video.tv, Value: 0.3333333333333333
714
514969291
Column: appliances.environment.vacuum, Value: 0.25
739
515175219
Column: electronics.clocks, Value: 0.125
748
515246296
Column: electronics.smartphone, Value: 0.3333333333333333
765
515384420
Column: electronics.smartphone, Value: 0.1
781
515478960
Column: apparel.shoes, Value: 0.09090909090909091
834
515845109
Column: electronics.smartphone, Value: 0.1111111111111111
839
515863193
Column: electronics.smartphone, Value: 0.3333333333333333
860
516025438
Column: electronics.smartphone, Value: 0.09090909090909091
879
516198933
Column: electronics.smartphone, Value: 0.25
880
516201000
Column: construction.tools.drill, Value: 0.3333333333333333
882
516201757
Column: electronics.smartphone, Value: 0.16666666666666666
895
516255627
Column: computers.notebook, Value: 0.3333333333333333
930
516426424
Column: electronics.audio.headphone, Value: 0.14285714285714285
931
516426855
Column: appliances.kitchen.refrigerators, Value: 0.3333333333333333
957
516679764
Column: electronics.smartphone, Value: 0.3333333333333333
1007
517129864
Column: electronics.audio.headphone, Value: 0.3333333333333333
1072
517953667
Column: apparel.trousers, Value: 0.25
1103
518374122
Column: electronics.smartphone, Value: 0.3333333333333333
1111
518431897
Column: appliances.kitchen.hood, Value: 0.08333333333333333
1111
518431897
Column: electronics.telephone, Value: 0.14285714285714285
1114
518463311
Column: electronics.smartphone, Value: 0.25
1120
518494067
Column: electronics.telephone, Value: 0.3333333333333333
1130
518599877
Column: electronics.smartphone, Value: 0.125
1136
518626299
Column: electronics.smartphone, Value: 0.5
1169
518794940
Column: electronics.smartphone, Value: 0.25
1190
518962372
Column: electronics.smartphone, Value: 0.25
1194
519034566
Column: electronics.smartphone, Value: 0.16666666666666666
1249
519447668
Column: electronics.smartphone, Value: 0.16666666666666666
1250
519484978
Column: electronics.smartphone, Value: 0.1
1259
519590486
Column: kids.fmcg.diapers, Value: 0.3333333333333333
1291
520175111
Column: computers.components.memory, Value: 0.3333333333333333
1298
520395222
Column: electronics.clocks, Value: 0.05555555555555555
1338
521005401
Column: electronics.telephone, Value: 0.041666666666666664
1425
522661268
Column: electronics.audio.headphone, Value: 0.3333333333333333
1426
522702221
Column: electronics.audio.headphone, Value: 0.25
1427
522719614
Column: electronics.smartphone, Value: 0.25
1442
523117953
Column: computers.components.hdd, Value: 0.3333333333333333
1468
523529352
Column: electronics.smartphone, Value: 0.3333333333333333
1474
523603161
Column: electronics.smartphone, Value: 0.2
1484
523751849
Column: electronics.smartphone, Value: 0.2
1497
524102669
Column: electronics.smartphone, Value: 0.5
1498
524102815
Column: electronics.smartphone, Value: 0.5
1503
524325294
Column: electronics.smartphone, Value: 0.25
1512
524601178
Column: electronics.audio.headphone, Value: 0.3333333333333333
1525
524890634
Column: appliances.kitchen.refrigerators, Value: 0.2
1541
525372703
Column: electronics.smartphone, Value: 0.25
1544
525454715
Column: electronics.smartphone, Value: 0.2727272727272727
1550
525601960
Column: electronics.smartphone, Value: 0.1
1555
525661637
Column: appliances.environment.vacuum, Value: 0.125
1556
525662995
Column: electronics.smartphone, Value: 0.16666666666666666
1618
527209005
Column: electronics.smartphone, Value: 0.3333333333333333
1643
527669643
Column: electronics.smartphone, Value: 0.2857142857142857
1644
527681026
Column: appliances.kitchen.blender, Value: 0.5
1700
529687222
Column: auto.accessories.player, Value: 0.09090909090909091
1740
530776918
Column: electronics.smartphone, Value: 0.16666666666666666
1820
532762473
Column: appliances.kitchen.refrigerators, Value: 0.3333333333333333
1825
532799914
Column: electronics.smartphone, Value: 0.14285714285714285
1835
533000757
Column: electronics.smartphone, Value: 0.2
1859
533624186
Column: electronics.audio.headphone, Value: 0.25
1863
533758539
Column: electronics.smartphone, Value: 0.25
1874
534142828
Column: electronics.smartphone, Value: 0.07142857142857142
1875
534178501
Column: electronics.smartphone, Value: 0.3333333333333333
1882
534436735
Column: electronics.smartphone, Value: 0.16666666666666666
1894
534620200
Column: electronics.smartphone, Value: 0.1111111111111111
1955
536328930
Column: electronics.smartphone, Value: 0.25
1987
537143581
Column: electronics.smartphone, Value: 0.2
2010
537717675
Column: electronics.smartphone, Value: 0.16666666666666666
2085
539676251
Column: appliances.kitchen.blender, Value: 0.09090909090909091
2106
540258756
Column: furniture.kitchen.table, Value: 0.3333333333333333
2115
540557704
Column: electronics.audio.headphone, Value: 0.25
2116
540577190
Column: electronics.smartphone, Value: 0.25
2130
540920424
Column: furniture.kitchen.table, Value: 0.5
2160
541486954
Column: electronics.audio.headphone, Value: 0.3333333333333333
2160
541486954
Column: electronics.smartphone, Value: 0.09090909090909091
2163
541516521
Column: appliances.kitchen.toster, Value: 0.3333333333333333
2191
542089764
Column: electronics.smartphone, Value: 0.1
2229
542659426
Column: appliances.personal.scales, Value: 0.1111111111111111
2255
543075063
Column: electronics.smartphone, Value: 0.3333333333333333
2263
543272936
Column: electronics.smartphone, Value: 0.25
2272
543356214
Column: electronics.smartphone, Value: 0.2
2278
543624132
Column: electronics.smartphone, Value: 0.125
2295
543926031
Column: electronics.smartphone, Value: 0.2
2355
545053960
Column: appliances.kitchen.refrigerators, Value: 0.14285714285714285
2389
545803882
Column: electronics.smartphone, Value: 0.09090909090909091
2450
546907454
Column: electronics.tablet, Value: 0.3333333333333333
2492
547560322
Column: electronics.smartphone, Value: 0.5
2495
547711161
Column: electronics.video.tv, Value: 0.2
2503
547830696
Column: electronics.smartphone, Value: 0.16666666666666666
2532
548496387
Column: electronics.smartphone, Value: 0.1111111111111111
2541
548691404
Column: appliances.environment.air_heater, Value: 0.125
2583
549265000
Column: electronics.smartphone, Value: 0.25
2588
549348524
Column: accessories.bag, Value: 0.25
2598
549401354
Column: computers.notebook, Value: 0.5
2604
549525040
Column: electronics.clocks, Value: 0.3333333333333333
2609
549614436
Column: electronics.clocks, Value: 0.25
2612
549685916
Column: appliances.kitchen.washer, Value: 0.3333333333333333
2622
549777331
Column: electronics.smartphone, Value: 0.3333333333333333
2623
549790258
Column: computers.notebook, Value: 0.2
2647
550146179
Column: electronics.smartphone, Value: 0.3333333333333333
2653
550224334
Column: electronics.smartphone, Value: 0.1
2670
550443776
Column: electronics.smartphone, Value: 0.07142857142857142
2672
550607818
Column: electronics.smartphone, Value: 0.2
2706
551281127
Column: apparel.shoes, Value: 0.25
2712
551349532
Column: electronics.smartphone, Value: 0.3333333333333333
2713
551349791
Column: electronics.smartphone, Value: 0.08333333333333333
2714
551377651
Column: electronics.audio.headphone, Value: 0.25
2714
551377651
Column: electronics.smartphone, Value: 0.16666666666666666
2721
551456160
Column: electronics.smartphone, Value: 0.058823529411764705
2732
551646742
Column: appliances.kitchen.washer, Value: 0.3333333333333333
2741
551712733
Column: electronics.smartphone, Value: 0.25
2762
552056470
Column: electronics.smartphone, Value: 0.125
2768
552141352
Column: electronics.smartphone, Value: 0.25
2786
552408931
Column: electronics.smartphone, Value: 0.2222222222222222
2787
552439521
Column: electronics.smartphone, Value: 0.16666666666666666
2868
553622042
Column: electronics.clocks, Value: 0.1111111111111111
2880
553819262
Column: appliances.kitchen.meat_grinder, Value: 0.25
2910
554063800
Column: electronics.smartphone, Value: 0.25
2916
554090147
Column: electronics.smartphone, Value: 0.25
2993
554754734
Column: electronics.smartphone, Value: 0.037037037037037035
3048
555083442
Column: electronics.smartphone, Value: 0.3333333333333333
3054
555110488
Column: electronics.smartphone, Value: 0.3
3068
555136729
Column: electronics.smartphone, Value: 0.16666666666666666
3072
555160488
Column: electronics.smartphone, Value: 0.3333333333333333
3074
555168263
Column: electronics.smartphone, Value: 0.3333333333333333
3096
555257206
Column: electronics.smartphone, Value: 0.16666666666666666
3127
555332717
Column: furniture.bathroom.toilet, Value: 0.5
3143
555354998
Column: electronics.smartphone, Value: 0.3333333333333333
3164
555420273
Column: electronics.smartphone, Value: 0.3333333333333333
3253
555462614
Column: electronics.smartphone, Value: 0.25
3257
555462711
Column: electronics.smartphone, Value: 0.3333333333333333
3275
555463016
Column: furniture.living_room.cabinet, Value: 0.3333333333333333
3303
555463371
Column: electronics.smartphone, Value: 0.2
3309
555463495
Column: appliances.kitchen.washer, Value: 0.16666666666666666
3316
555463605
Column: electronics.smartphone, Value: 0.3333333333333333
3437
555465061
Column: appliances.kitchen.refrigerators, Value: 0.5
3450
555465207
Column: electronics.smartphone, Value: 0.2
3459
555465285
Column: electronics.smartphone, Value: 0.25
3514
555465942
Column: appliances.environment.vacuum, Value: 0.25
3518
555465969
Column: appliances.environment.vacuum, Value: 0.5
3534
555466298
Column: appliances.sewing_machine, Value: 0.3333333333333333
3542
555466390
Column: electronics.smartphone, Value: 0.42857142857142855
3570
555466734
Column: electronics.video.tv, Value: 0.3333333333333333

## Testing the Recommendation System

Let's test our recommendation system on a few users.

In [46]:
int(user_mapping_df.iloc[3459]['user_id'])

555465285

In [47]:
# Test the recommendation system on a user
test_user_index = 3459  # Choose a user index to test

# Get the user's current category interactions
real_user_id = user_mapping_df.iloc[test_user_index]['user_id']
user_categories = cf_dataset[cf_dataset['user_id'] == real_user_id]['category_code']

print(f"User {test_user_index} (Real ID: {real_user_id}) has interacted with these categories:")
for i, category in enumerate(user_categories):
    print(f"{i+1}. {category}")

# Get recommendations for the user
recommended_categories = recommend_categories(test_user_index, n=10, only_new=True)
analyze_user_purchases(test_user_index)

User 3459 (Real ID: 555465285) has interacted with these categories:
1. electronics.smartphone
Top 5 users who are similar to User 3459 (Real ID: 555465285):

similar_user_index 2278
1. User Index: 2278, Real ID: 543624132, Distance: 0.0000
similar_user_index 3450
2. User Index: 3450, Real ID: 555465207, Distance: 0.0000
similar_user_index 153
3. User Index: 153, Real ID: 512682014, Distance: 0.0000
similar_user_index 1955
4. User Index: 1955, Real ID: 536328930, Distance: 0.0000
similar_user_index 3459
5. User Index: 3459, Real ID: 555465285, Distance: 0.0000

/tmp/ipykernel_96826/1400541714.py:20: RuntimeWarning:

invalid value encountered in divide

KeyError: 555465285

## Conclusion

In this notebook, we've implemented an item-based collaborative filtering recommendation system that suggests product categories to users based on the preferences of similar users. The system works as follows:

1. We created a user-item matrix where rows represent users, columns represent product categories, and values represent user preferences.
2. We used the K-Nearest Neighbors algorithm with cosine similarity to find users with similar preferences.
3. We weighted the preferences of similar users to generate personalized recommendations.
4. We filtered out categories the user has already interacted with to provide fresh recommendations.

**Key Findings:**

- The system successfully identifies similar users based on their category preferences.
- It can generate personalized recommendations that account for the user's existing preferences.
- The recommendations are weighted by the similarity between users, giving more importance to users with very similar preferences.

**Limitations and Potential Improvements:**

1. We could incorporate the specific product IDs in addition to categories for more fine-grained recommendations.
2. We could incorporate temporal information to account for changing user preferences over time.
3. We could combine this approach with content-based filtering for a hybrid recommendation system.
4. More data would help improve the quality of recommendations.

The collaborative filtering approach demonstrates strong potential for recommending new categories to users based on similar user preferences.

In [ ]:
# Close the database connection
con.close()
print("Database connection closed.")

Database connection closed.