In [12]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import plotly.express as px
import duckdb
import os
from pathlib import Path
from typing import List
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [13]:
# Afficher le répertoire de travail actuel
import os
print("Répertoire de travail actuel:", os.getcwd())

# Lister les fichiers et dossiers du répertoire parent
print("\nContenu du répertoire parent (..):")
print(os.listdir(".."))

# Lister les fichiers et dossiers deux niveaux au-dessus
print("\nContenu deux niveaux au-dessus (../..):")
try:
    print(os.listdir("../.."))
except FileNotFoundError:
    print("Impossible d'accéder à ce répertoire")

Répertoire de travail actuel: /home/c-enjalbert/Documents/EPSI/MSPR/bloc_2/amazing/ml_ia/item-based-clustering

Contenu du répertoire parent (..):
['item-based-clustering', 'analyse_exploratoire.ipynb', 'clustering']

Contenu deux niveaux au-dessus (../..):
['amazing.duckdb', 'ml_ia', '.amazing.duckdb', 'requirements.txt', '.git', 'Access_token.txt', 'README.md', 'etl', 'data', '.gitignore']

In [14]:
# Essayez différentes approches pour localiser le dossier data
possible_paths = [
    Path("../data"),             # Un niveau au-dessus
    Path("../../data"),          # Deux niveaux au-dessus
    Path("../../../data"),       # Trois niveaux au-dessus
    Path("../../../../data"),    # Quatre niveaux au-dessus
]

for path in possible_paths:
    if path.is_dir():
        print(f"Dossier data trouvé à : {path.resolve()}")
        data_folder = path
        break
else:
    print("Impossible de trouver le dossier data automatiquement")

Dossier data trouvé à : /home/c-enjalbert/Documents/EPSI/MSPR/bloc_2/amazing/data

### Connexion à la DB / Import des Data

In [15]:
# Store database at project root
DB_NAME = Path("/home/c-enjalbert/Documents/EPSI/MSPR/bloc_2/amazing/amazing.duckdb") 
# Go up one level from current directory to get to project root
data_folder = Path("../..").resolve() / "data"
# For absolute certainty, you could use the absolute path
# data_folder = Path("/home/c-enjalbert/Documents/EPSI/MSPR/bloc_2/amazing/data")
con = duckdb.connect(str(DB_NAME))

In [16]:
# 2. Query to list all tables in the database
# DuckDB specific way to list tables
tables_info = con.sql("""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'main'
    ORDER BY table_name
""").df()

print(f"Found {len(tables_info)} tables in the database:\n")

if len(tables_info) > 0:
    for i, table_name in enumerate(tables_info['table_name']):
        print(f"{i+1}. {table_name}")
else:
    print("No tables found in the database.")

Found 2 tables in the database:

1. all_events
2. loaded_files

In [17]:
# 5. Alternative way to show all tables
print("List of all tables using DuckDB's connections.tables():")
con.sql("SHOW TABLES").show()

List of all tables using DuckDB's connections.tables():
┌──────────────┐
│     name     │
│   varchar    │
├──────────────┤
│ all_events   │
│ loaded_files │
└──────────────┘

### Save Tables as DataFrame

In [18]:
# Get event counts by event_type
print("Event counts by type:")
all_events = con.sql("""
    SELECT 
    *
    FROM all_events
    LIMIT 20000
""")
all_events.show()

Event counts by type:
┌─────────────────────┬────────────┬────────────┬─────────────────────┬─────────────────────────────────────┬──────────┬─────────┬───────────┬──────────────────────────────────────┐
│     event_time      │ event_type │ product_id │     category_id     │            category_code            │  brand   │  price  │  user_id  │             user_session             │
│      timestamp      │  varchar   │  varchar   │       varchar       │               varchar               │ varchar  │ double  │  varchar  │               varchar                │
├─────────────────────┼────────────┼────────────┼─────────────────────┼─────────────────────────────────────┼──────────┼─────────┼───────────┼──────────────────────────────────────┤
│ 2019-10-01 00:00:00 │ view       │ 44600062   │ 2103807459595387724 │ NULL                                │ shiseido │   35.79 │ 541312140 │ 72d76fde-8bb3-4e00-8c23-a032dfed738c │
│ 2019-10-01 00:00:00 │ view       │ 3900821    │ 2053013552326770905 │ appliances.environment.water_heater │ aqua     │    33.2 │ 554748717 │ 9333dfbd-b87a-4708-9857-6336556b0fcc │
│ 2019-10-01 00:00:01 │ view       │ 17200506   │ 2053013559792632471 │ furniture.living_room.sofa          │ NULL     │   543.1 │ 519107250 │ 566511c2-e2e3-422b-b695-cf8e6e792ca8 │
│ 2019-10-01 00:00:01 │ view       │ 1307067    │ 2053013558920217191 │ computers.notebook                  │ lenovo   │  251.74 │ 550050854 │ 7c90fc70-0e80-4590-96f3-13c02c18c713 │
│ 2019-10-01 00:00:04 │ view       │ 1004237    │ 2053013555631882655 │ electronics.smartphone              │ apple    │ 1081.98 │ 535871217 │ c6bd7419-2748-4c56-95b4-8cec9ff8b80d │
│ 2019-10-01 00:00:05 │ view       │ 1480613    │ 2053013561092866779 │ computers.desktop                   │ pulser   │  908.62 │ 512742880 │ 0d0d91c2-c9c2-4e81-90a5-86594dec0db9 │
│ 2019-10-01 00:00:08 │ view       │ 17300353   │ 2053013553853497655 │ NULL                                │ creed    │  380.96 │ 555447699 │ 4fe811e9-91de-46da-90c3-bbd87ed3a65d │
│ 2019-10-01 00:00:08 │ view       │ 31500053   │ 2053013558031024687 │ NULL                                │ luminarc │   41.16 │ 550978835 │ 6280d577-25c8-4147-99a7-abc6048498d6 │
│ 2019-10-01 00:00:10 │ view       │ 28719074   │ 2053013565480109009 │ apparel.shoes.keds                  │ baden    │  102.71 │ 520571932 │ ac1cd4e5-a3ce-4224-a2d7-ff660a105880 │
│ 2019-10-01 00:00:11 │ view       │ 1004545    │ 2053013555631882655 │ electronics.smartphone              │ huawei   │  566.01 │ 537918940 │ 406c46ed-90a4-4787-a43b-59a410c1a5fb │
│          ·          │  ·         │    ·       │          ·          │           ·                         │   ·      │     ·   │     ·     │                  ·                   │
│          ·          │  ·         │    ·       │          ·          │           ·                         │   ·      │     ·   │     ·     │                  ·                   │
│          ·          │  ·         │    ·       │          ·          │           ·                         │   ·      │     ·   │     ·     │                  ·                   │
│ 2019-10-01 02:37:18 │ view       │ 3100970    │ 2053013555262783879 │ appliances.kitchen.blender          │ redmond  │   40.67 │ 519178197 │ 51390f80-9f09-4e12-a8ba-ebf12205497c │
│ 2019-10-01 02:37:18 │ view       │ 1004939    │ 2053013555631882655 │ electronics.smartphone              │ vivo     │  141.29 │ 513254174 │ 25188ff4-b393-4a99-a562-200457429825 │
│ 2019-10-01 02:37:18 │ view       │ 5301398    │ 2053013563173241677 │ NULL                                │ elenberg │   10.27 │ 553994175 │ a5f4d1a4-4d03-441b-93f1-0dcd0e84b4c1 │
│ 2019-10-01 02:37:18 │ view       │ 6400290    │ 2053013554121933129 │ computers.components.cpu            │ intel    │  260.37 │ 555464661 │ 47873c34-5cd6-4bcf-ac1d-6e5228f8eee0 │
│ 2019-10-01 02:37:18 │ view       │ 6200966    │ 2053013552293216471 │ appliances.environment.air_heater   │ saturn   │   27.03 │ 513265169 │ caa06974-210d-4147-82a4-1c5646b5d3a6 │
│ 2019-10-01 02:37:18 │ view       │ 45600168   │ 2113934850560885372 │ apparel.shoes.keds                  │ nike     │   59.18 │ 539620652 │ 2b8f3a28-5ca3-4038-a48f-021db1c8d1dc │
│ 2019-10-01 02:37:18 │ view       │ 32403314   │ 2053013566562238479 │ NULL                                │ NULL     │   25.48 │ 516770039 │ 76b06dcb-c92f-4fa8-8d35-d290cadc29c5 │
│ 2019-10-01 02:37:18 │ view       │ 1004838    │ 2053013555631882655 │ electronics.smartphone              │ oppo     │  179.38 │ 527209005 │ cbfdc1b0-39b7-4d1d-bce3-b79fc6b6c7cf │
│ 2019-10-01 02:37:18 │ view       │ 3601063    │ 2053013563810775923 │ appliances.kitchen.washer           │ artel    │   94.98 │ 536457776 │ 917a738a-5505-44b0-b336-96f5f0028b04 │
│ 2019-10-01 02:37:18 │ view       │ 28715760   │ 2053013565069067197 │ apparel.shoes.keds                  │ nexpero  │  107.85 │ 523596085 │ edddf185-c754-4ad8-b688-bb7bc5c3abbf │
├─────────────────────┴────────────┴────────────┴─────────────────────┴─────────────────────────────────────┴──────────┴─────────┴───────────┴──────────────────────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                           9 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [19]:
all_events_df = pd.DataFrame(all_events.df())
all_events_df.describe(include="all").T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
event_time,20000,NaN,NaN,NaN,2019-10-01 02:29:27.043549,2019-10-01 00:00:00,2019-10-01 02:28:14.750000,2019-10-01 02:37:18,2019-10-01 02:46:00,2019-10-01 02:54:01,NaN
event_type,20000,3,view,19548,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id,20000,7178,1004856,234,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category_id,20000,443,2053013555631882655,5387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category_code,13412,115,electronics.smartphone,5387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
brand,17185,922,samsung,2330,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,20000.0,NaN,NaN,NaN,289.381401,0.0,60.23,154.42,359.08,2574.07,368.18694
user_id,20000,5012,531063605,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_session,20000,5669,f85114d0-6167-4c8b-88f8-0cd1cfc2c10c,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Normalisation et Préparation de la Data

In [20]:
all_events_df.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')

In [22]:
allevents_df_CF = all_events_df[["user_id", "product_id", "category_code", "category_id"]]

In [ ]:
con.close()